@value makerGreen, makerLightGrey from '../../common/colors.css';

.editor {
    padding: 0.5em 2em;
    flex-basis: 50%;
    border-right: 1px solid makerLightGrey;
}

.title {
    width: 100%;
    text-align: center;
    margin: 1em 0;
    color: makerGreen;
}