@value makerGreen from '../../common/colors.css';

.editor {
    flex-basis: 50%;
    background-color: pink;
}

.title {
    width: 100%;
    text-align: center;
    margin: 1em 0;
    color: makerGreen;
    font-weight: bold;
}