@value makerGreen from '../../common/colors.css';

.preview {
    flex-basis: 50%;
    overflow-y: auto;
}
.cards {
    width: 100%;
    /* height: auto; */
}
.title {
    width: 100%;
    text-align: center;
    margin: 1em 0;
    color: makerGreen;
}